body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
    background-color: #ffffff;
}

$textWait: #fff;
$text353535: #353535;


.header-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.header-box {
    height: 75vh;
    display: flex;
    position: relative;
    color: $textWait;
}
.header-left-block {
    flex-basis: 50%;
    padding: 0 12px;
    &::before {
        content: '';
        display: block;
        max-width: 67%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #202c42;
        // transform: skewX(-15deg);
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    }
    display: flex;
}
.header-left-block__wrapper {
    width: 60%;
    margin: auto;
}
.header-left-block__logo {
    position: relative;
    max-width: 100%;
}
.header-left-block__title {
    position: relative;
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
    span {
        color: #f45757;
    }
}
.header-left-block__description {
    position: relative;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    max-width: 73%;
}
.header-left-block__wrap-button {
    position: relative;
    width: 420px;
}
.header-left-block__button {
    color: #fff;
    background-color: #f45757;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    margin: 10px 0 20px;
    border-radius: 20px;
    padding: 10px 0;
    transition: .5s;
    &:hover {
        color: #fff;
        background-color: #f60404;
        transition: .5s;
    }
}
.header-left-block__svg {
    width: 39px;
    vertical-align: baseline;
}
.header-left-block__mini-description {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    max-width: 68%;
    text-align: center;
}
.header-right-block {
    flex-basis: 50%;
    background: url(../img/slider.jpg) right center no-repeat;
    background-size: cover;
}
//first section
.first-section {
}
.first-section-container {
    max-width: 1240px;
    margin: 0 auto;
}
.first-section-wrapper {
}
.first-section-title {
    text-align: center;
    font-size: clamp(40px,5vw,45px);
    line-height: 50px;
    font-weight: 600;
    color: #f45757;
}
.first-section-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.first-section-block {
    flex-basis: calc(25% - 25px);
    text-align: center;
}
.first-section-block__wrapper {
}
.first-section-block__img {
    max-width: 153px;
    max-height: 153px;
}
.first-section-block__name {
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    color: $text353535;
    margin: 25px 0;
    padding: 0 0 25px;
    border-bottom: solid 3px $text353535;
}
.first-section-block__description {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: $text353535;
}



@media (max-width: 1610px) {
    .header-left-block__wrapper {
        width: 80%;
    }
}
@media(max-width: 1220px) {
    .header-left-block__wrapper {
        width: 100%;
    }
}
@media(max-width: 992px) {
    .header-left-block__description {
        text-align: left;
        max-width: 100%;
    }
    .header-left-block__none {
        display: none;
    }
    .header-left-block__mini-description {
        max-width: 100%;
        text-align: left;
    }
    .header-right-block {
        background-position-x: 80%;
    }
}
@media(max-width: 850px) {
    .first-section-block {
        flex-basis: calc(50% - 25px);
    }
}
@media(max-width: 780px) {
    .header-right-block {
        display: none;
    }
    .header-left-block {
        flex-basis: 100%;
        text-align: center;
    }
    .header-left-block::before {
        content: "";
        max-width: 100%;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .header-left-block__description {
        text-align: center;
    }
    .header-left-block__wrap-button {
        margin: auto;
    }
    .header-left-block__mini-description {
        text-align: center;
    }
}
@media(max-width: 576px) {
    .header-left-block__wrap-button {
        width: 100%;
    }
    .header-left-block__button {
        padding: 6px 0;
        margin: 20px 0;
        font-size: 35px;
    }
    .header-left-block__svg {
        width: 29px;
    }
    .header-left-block__title {
        font-size: 25px;
        line-height: 30px;
        margin: 20px 0;
    }
    .header-left-block__description {
        font-size: 20px;
        line-height: 25px;
    }
    .header-left-block__mini-description {
        font-size: 18px;
        line-height: 10px;
    }
    .header-left-block__none {
        display: block;
    }
    .header-box {
        height: 100%;
        padding: 30px 0;
    }
    .first-section-block {
        flex-basis: calc(100%);
    }
    
}