body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
    background-color: #ffffff;
}

$textWait: #fff;
$text353535: #353535;

@mixin title {
    text-align: center;
    font-size: clamp(40px,5vw,45px);
    line-height: 50px;
    font-weight: 600;
    color: #f45757;   
}
@mixin buttom {
    min-height: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: #F45757;
    &:hover {
        color: #fff;
        background-color: #f60404;
    }   
}
@mixin buttom-svg {
    max-width: 39px;
    margin-right: 10px;    
}

.header-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}
.header-box {
    height: 75vh;
    display: flex;
    position: relative;
    color: $textWait;
}
.header-left-block {
    flex-basis: 50%;
    padding: 0 12px;
    &::before {
        content: '';
        display: block;
        max-width: 67%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #202c42;
        // transform: skewX(-15deg);
        clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    }
    display: flex;
}
.header-left-block__wrapper {
    width: 60%;
    margin: auto;
}
.header-left-block__logo {
    position: relative;
    max-width: 100%;
}
.header-left-block__title {
    position: relative;
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
    span {
        color: #f45757;
    }
}
.header-left-block__description {
    position: relative;
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    max-width: 73%;
}
.header-left-block__wrap-button {
    position: relative;
    width: 420px;
}
.header-left-block__button {
    color: #fff;
    background-color: #f45757;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    margin: 10px 0 20px;
    border-radius: 20px;
    padding: 10px 0;
    transition: .5s;
    &:hover {
        color: #fff;
        background-color: #f60404;
        transition: .5s;
    }
}
.header-left-block__svg {
    width: 39px;
    vertical-align: baseline;
}
.header-left-block__mini-description {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    max-width: 68%;
    text-align: center;
}
.header-right-block {
    flex-basis: 50%;
    background: url(../img/slider.jpg) right center no-repeat;
    background-size: cover;
}
//first section
.first-section-container {
    max-width: 1240px;
    margin: 0 auto;
}
.first-section-title {
    @include title;
}
.first-section-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.first-section-block {
    flex-basis: calc(25% - 25px);
    text-align: center;
}
.first-section-block__img {
    max-width: 153px;
    max-height: 153px;
}
.first-section-block__name {
    font-size: 35px;
    line-height: 40px;
    font-weight: 500;
    color: $text353535;
    margin: 25px 0;
    padding: 0 0 25px;
    border-bottom: solid 3px $text353535;
}
.first-section-block__description {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    color: $text353535;
}
//Third section
.third-section {
    background-color: #e4e4e4;
}
.third-section-cotainer {
    max-width: 1240px;
    margin: 0 auto;
}
.third-section-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
}
.third-section-block {
    flex-basis: calc(33.33% - 20px);
}
.third-section-block--padding {
    padding: 25px;
}
.third-section-block__img {
    max-width: 100%;
}
.third-section-block__text-one {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 0 0 20px;
}
.third-section-block__text-two {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 0 0 10px;
}
.third-section-block__text {
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #4D4D4D;
    margin: 0 0 5px;
}
.third-section-block__link {
    @include buttom;
}
.third-section-block__svg {
    @include buttom-svg;
}
//fourth section
.fourth-block-container {
    max-width: 1240px;
    margin: 0 auto;
}
.fourth-block-title {
    @include title();
}
.fourth-block-title--mb {
    margin-bottom: 30px;
}
.fourth-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.fourth-box-inner {
    flex-basis: calc(25% - 50px);
}
.fourth-box-inner__img {
    max-width: 100%;
    box-shadow: 10px 10px 6px #00000029;
}
.fourth-box-inner__name {
    width: 100%;
    max-width: 250px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #353535;
    font-weight: 600;
}
.fourth-box-inner__name--margin {
    margin: 20px auto 0;
}
//fifth section
.fifth-section {
    background-color: #e4e4e4;
}
.fifth-section-container {
    max-width: 1240px;
    margin: 0 auto;
}
.fifth-insurance {
    padding: 35px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fifth-insurance-left {
    display: flex;
    align-items: center;
    flex-basis: 70%;
}
.fifth-insurance-wrapper {
    margin-left: 30px;
}
.fifth-insurance__img {
    width: 150px;
}
.fifth-insurance-left__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #4d4d4d;
    margin: 0 0 10px;
}
.fifth-insurance-left__text {
    font-size: 25px;
    line-height: 28px;
    color: #4d4d4d;
    text-align: left;
    margin: 0;
}
.fifth-insurance-right {
    flex-basis: 30%;
    text-align: center;
}
.fifth-insurance-right__description {
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #4d4d4d;
    margin: 0 0 5px;
    span {
        font-weight: 900;
    }
}
.fifth-insurance-right__link {
    @include buttom();
}
.fifth-insurance-right__svg {
    @include buttom-svg();
}
//sixth section
.sixth-section-container {
    max-width: 1240px;
    margin: 0 auto;
}
.sixth-section-box {
    display: flex;
    flex-wrap: wrap;
}
.sixth-section-box__keys {
    flex-basis: 12%;
}
.sixth-section-box__key {
    max-width: 100%;
}
//Seventh section
.seventh-section {
    background: url(../img/slider-dispo.jpg) center right;
    background-size: cover;
}
.seventh-section-container {
    max-width: 1240px;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: end;
}
.seventh-section-box {
    color: #fff;
    text-align: center;
}
.seventh-section-box__title {
    font-size: clamp(20px,2vw,25px);
    line-height: 35px;
    font-weight: 900;
    margin: 0;
}
.seventh-section-box__link {
    @include buttom();
}
.seventh-section-box__svg {
    @include buttom-svg();
}
.seventh-section-box__text {
    font-size: clamp(20px,2vw,25px);
    line-height: 35px;
    font-weight: 900;
    margin: 0;
}
//eighth section
.eighth-section {
}
.eighth-section-container {
    max-width: 1240px;
    margin: 0 auto;
}
.eighth-section-title {
    @include title();
}
.eighth-section-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px
}
.eighth-section-wrapper {
    display: flex;    
    flex-basis: calc(50% - 50px);
}
.eighth-section-box__img {
    min-width: 150px;
    max-width: 150px;
    max-height: 167px;
    border-radius: 15px;
    margin-right: 20px;
}
.eighth-section-inner {
}
.eighth-section-inner__img {
    margin-bottom: 10px;
}
.eighth-section-inner__commit {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
.eighth-section-inner__name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
}




@media (max-width: 1610px) {
    .header-left-block__wrapper {
        width: 80%;
    }
}
@media(max-width: 1220px) {
    .header-left-block__wrapper {
        width: 100%;
    }
    .third-section-block--padding {
        padding: 0;
    }
}
@media(max-width: 1100px) {
    .fifth-insurance-left {
        flex-basis: 100%;
    }
    .fifth-insurance-right {
        flex-basis: 100%;
    }
    .fifth-insurance-right--mt {
        margin-top: 50px;
    }
}
@media(max-width: 992px) {
    .header-left-block__description {
        text-align: left;
        max-width: 100%;
    }
    .header-left-block__none {
        display: none;
    }
    .header-left-block__mini-description {
        max-width: 100%;
        text-align: left;
    }
    .header-right-block {
        background-position-x: 80%;
    }
    .third-section-block {
        flex-basis: calc(50% - 20px);
    }
    .third-section-block--padding {
        padding: 15px 0;
    }
    .fourth-box {
        gap: 30px;
    }
    .fourth-box-inner {
        flex-basis: calc(25% - 30px);
    }
    .eighth-section-wrapper {
        display: block;
        text-align: center;    
    }
    .eighth-section-box__img {
        margin-right: 0;
    }
    .eighth-section-inner__img {
        margin-top: 20px;
    }
    
}
@media(max-width: 850px) {
    .first-section-block {
        flex-basis: calc(50% - 25px);
    }
}
@media(max-width: 780px) {
    .header-right-block {
        display: none;
    }
    .header-left-block {
        flex-basis: 100%;
        text-align: center;
    }
    .header-left-block::before {
        content: "";
        max-width: 100%;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .header-left-block__description {
        text-align: center;
    }
    .header-left-block__wrap-button {
        margin: auto;
    }
    .header-left-block__mini-description {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .third-section-block {
        flex-basis: calc(100%);
        text-align: center;
    }
    .third-section-block--padding {
        padding: 0;
    }
    .third-section-block__text-one {
        padding-top: 15px;
        font-size: 25px;
    line-height: 30px;
    }
    .third-section-block__text-two {
        font-size: 18px;
        line-height: 22px;
    }
    .third-section-block__wrapper-link {
        padding-bottom: 15px;
    }
    .fourth-box {
        gap: 20px;
    }
    .fourth-box-inner {
        flex-basis: calc(50% - 20px);
    }
    .fifth-insurance-left {
        display: block;
        text-align: center;
    }
    .fifth-insurance-wrapper {
        margin-left: 0;
        margin-top: 50px;
    }
    .fifth-insurance-left__title {
        margin: 0px 0 20px;
    }
    .fifth-insurance-right__description {
        font-size: 20px;
    }
    .sixth-section-box__keys {
        flex-basis: 25%;
    }
    .seventh-section-container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    .seventh-section-container {
        height: 45vh;
    }
    .eighth-section-wrapper {
        flex-basis: calc(100%);
    }

}
@media(max-width: 576px) {
    .header-left-block__wrap-button {
        width: 100%;
    }
    .header-left-block__button {
        padding: 6px 0;
        margin: 20px 0;
        font-size: 35px;
    }
    .header-left-block__svg {
        width: 29px;
    }
    .header-left-block__title {
        font-size: 25px;
        line-height: 30px;
        margin: 20px 0;
    }
    .header-left-block__description {
        font-size: 20px;
        line-height: 25px;
    }
    .header-left-block__mini-description {
        font-size: 18px;
        line-height: 10px;
    }
    .header-left-block__none {
        display: block;
    }
    .header-box {
        height: 100%;
        padding: 30px 0;
    }
    .first-section-block {
        flex-basis: calc(100%);
    }
    .fourth-box {
       text-align: center;
    }
    .fourth-box-inner {
        flex-basis: calc(100%);
    }
    .sixth-section-box__keys {
        flex-basis: 50%;
    }
    
}